* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
    background-color: #9ddcdc;
}

.topnav {
    overflow: hidden;
    background-color: #fff4e1;
}
  
.logo {
    height: 80px;
}

.shopping-cart {
    height: 40px;
    float: right;
    margin: 0 20px;
}

.shopping-cart:hover {
    opacity: 0.75;
    cursor: pointer;
}

.center {
    display: block;
    margin: auto;
}
  
.topnav h1 {
    text-align: center;
    font-family: "Lucida Handwriting", Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #e67a7a;
    margin-top: 5px;
}
  
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 19px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #e67a7a;
    opacity: 0.75;
    color: white;
}
  
.topnav a.active {
    background-color: #e67a7a;
    color: white;
}
  
.topnav .search-container {
    float: right;
    margin-right: 40px;
}
  
.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

#number {
    float: right;
    font-size: 30px;
}

.shop_content .caption {
    margin-top: 30px;
    margin-left: 85px;
    font-size: 17px;
}

#content {
    text-align: center;
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    margin-left: 40px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    padding: 1rem;
    margin: 45px;
    text-align: center;
    background-color: white;
    display: inline-block;
    font-size: 13px;
    border-radius: 5%;
    position: relative;
    min-height: 22rem;
}
  
.price {
    color: grey;
    font-size: 20px;
}
  
.card button {
    font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
    border: 1px solid lightpink;
    outline: 0;
    padding: 12px;
    margin-top: .5rem;
    border-radius: .5rem;
    color: white;
    background-color: #ff9b93;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.btn-add-to-cart {
    background-color: green !important;
}

.hide {
    display: none;
}

.btn-remove {
    background-color: red !important;
}

.card button:hover {
    opacity: 0.7;
}

.card h1 {
    font-size: 18px;
}

.card .card-actions {
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;
    width: 90%;
    margin: 0 auto;
}

.open-button {
    font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.85;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 130px;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #ffffff;
    border: 5px solid #f1f1f1;
    border-radius: 10%;
}

.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 5%;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
    background-color: #e67a7a;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.85;
}

.form-container .cancel {
    background-color: orange;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

#home_content h1 {
    font-size: 35px;
    text-align: center;
    color: #e67a7a;
    margin-top: 80px;
    text-shadow: 2px 2px 4px #000000
}

#home_content p {
    text-align: justify;
    margin: 70px;
}

#home_content .button {
    width: 30%;
    height: 60px;
    background-color: #e67a7a;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 35%;
    display: inline;
    margin-bottom: 80px;
}

#home_content .button a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

h3 {
    text-align: center;
}

#socmed-info {
    margin-top: 100px;
    margin-bottom: 100px;
}

ul {
    text-align: center;
    padding: 0;
}
  
li {
    width: 10%;
    display: inline-block;
    vertical-align: top;
}
  
li img {
    width: 40px;
    height: auto;
}

.social-media:hover {
    opacity: 0.75;
    cursor: pointer;
}

footer {
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: #000000;
    background-color: #fff4e1; 
    margin-top: 50px;
}